@font-face { 

    font-family: Montserrat; /*this is where we give our font a name so we can use it!*/
    
    src: url("Montserrat-Regular.ttf"); /*remember this is how we link to files in CSS!*/
    
    }

@media print {
        *{
            background: transparent !important; 
            color: #000000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }
        .nav {
            display: none;
        }
        .header {
            margin-bottom: 0;
            border: none;
            text-align: center;
        }
        a [href] :: after {
            content: " [" attr(href) "]";
            color: blue;
        }
        @page {
            margin: 1in;
        }
        .blockquote-box {
            margin-bottom: 0;
            font-size: 12px;
            padding: 5px;
        }
        .textbox {
            margin-bottom: 5px;
        }
        .aboutnav {
            padding-bottom: 0;
            display: none;
        }
        .content {
            margin-bottom: 5px;
        }
        .aboutleft-content {
            padding: 5px;
            font-size: 12px;
        }
        .aboutright-content {
            padding: 5px;

}
}

h1 {
    color: #006666;
}

p::first-letter {
    font-size: 50px;
}

p:not(:first-child)::first-line {
    text-indent: 1em;
}

p{
font-family: Montserrat;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.textbox {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
}

.aboutcontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.aboutnav {
    grid-row: 1;
    grid-column: 1 / -1;
    padding-bottom: 20px;
}

.header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}


.content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.aboutleft-content {
    background-color: #f1f1f1;
    padding: 20px;
    max-width: 600px;
    font-size: 16px;
}

.aboutright-content {
    background-color: #f1f1f1;
    padding: 10px;
    grid-column: 2;
}

.blockquote-box {
    border: 2px solid lightblue;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

