h1 {
    color: #006666;
}

p::first-letter {
    font-size: 50px;
}

p:not(:first-child)::first-line {
    text-indent: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.textbox {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
}

.aboutcontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.aboutnav {
    grid-row: 1;
    grid-column: 1 / -1;
    padding-bottom: 20px;
}

.header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}


.content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.aboutleft-content {
    background-color: #f1f1f1;
    padding: 20px;
    max-width: 600px;
    font-size: 16px;
}

.aboutright-content {
    background-color: #f1f1f1;
    padding: 10px;
    grid-column: 2;
}

.blockquote-box {
    border: 2px solid lightblue;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

@media (max-height: 100px) {
    .headshot {
        width: auto;
    }